
.header-container{
    margin-top: 20px ;
    text-align: center;
    color:black ;
    width: 50%;
    font-size: 15px;
    margin-bottom: 50px;
    .fa-users{
        padding-left: 20px;
    }
    img{
width:200px;
height:50px;
object-fit: cover;
    }
}

.footer-container{
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
    }
    i{
        color:$primary;
        padding-left: 5px;
        font-size: 25px;
    }
}
