.main-container
{
background-color:$tertiary;
border: 2px;
box-shadow: 2px 2px 2px 2px darken($color: $tertiary, $amount: 20);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-bottom: 50px;
border-radius: 10px;
padding-top: 15px;
padding-bottom: 15px;
width:50%;
flex-wrap: nowrap;
color:$secondary;

form{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
    justify-content: space-around;
    align-items:center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    input{
        background-color: $secondary;
        margin:5px;
        padding:2px;
        border-radius: 3px;
        font-size: 16px;
        &:focus{
            outline: none;
            border: 3px solid $primary;
        }
        
    }
    
}

.btn{
    border-radius: 20px;
    padding: 15px 40px;
  margin-top: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
    &:hover{
        background-color: $primary;
        box-shadow: 1px 1px 1px 1px;
        opacity: 0.8;
        letter-spacing: 0.25em;
    }
}

p{
    font-style: italic;
}
i{
    color:$primary;
    padding-left: 5px;
    font-size: 20px;

}

}

/* MEDIA QUERRIES 
smartphones*/

@media screen and (max-width: 700px){
    .main-container{
        width:90%;
    }
}