.main-container
{
background-color: $tertiary;
border: 2px rgb(36, 35, 35);
box-shadow: 2px 2px 2px 2px black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-bottom: 50px;
border-radius: 10px;
padding-top: 15px;
padding-bottom: 15px;
width:50%;

form{
display: flex;
flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    
    input{
        background-color: $secondary;
        margin:5px;
        border-radius: 3px;
        font-size: 16px;
    }
}

.btn{
    width:40%;
    height:30px;
    border-radius: 10px;
    &:hover{
        background-color: $primary;
        box-shadow: 1px 1px 1px 1px;
    }
}

p{
    font-style: italic;
}
i{
    color:$primary;
    padding-left: 5px;
    font-size: 20px;

}

}

