.global-post-modify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $tertiary;
    margin-bottom: 40px;
    padding:20px;
    width:70%;
    color:$secondary;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px darken($color: $tertiary, $amount: 20);
    font-size: 20px;
    .message-du-jour{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    img{
        width: 20%;
        max-height:300px;
        object-fit: cover;
        padding:10px;
        border-radius: 7px;
        border:5px solid $tertiary;
        align-items: center;
    }

    label{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .champs{
        margin-left: 15px;
        border:4px solid $secondary;
        border-radius: 5px;
        width:65%;
        font-size:16px ;
        &:focus{
            outline: none;
            border: 3px solid $primary;
        }
      
    }
    .champs1{
        margin-left: 15px;
        border:4px solid $secondary;
        border-radius: 5px;
        width:40%;
        font-size:16px ;
        &:focus{
            outline: none;
            border: 3px solid $primary;
        }
    }
    .joindre{width: 50%;}
    .trio{
        background-color: aqua;
    }
    .image-sup{
        border-radius: 10px;
        background-color: lighten($primary, 20);
        padding:4px;
        cursor: pointer;
        font-size: 12px;
        border:0px;
    }
}

.btn-submit{
    border-radius: 20px;
    padding: 15px 40px;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    width: 20%;
    font-size: 17px;
    background-color: $secondary;
    cursor: pointer;
     transition: 0.5s;
    &:hover{
        background-color: $primary;
        box-shadow: 1px 1px 1px 1px;
        opacity: 0.8;
        letter-spacing: 0.25em;
    }
}



/* MEDIA QUERRIES 
smartphones*/

@media screen and (max-width: 700px){

    .global-post-modify{
        width: 95%;
        display: flex;
        font-size: 14px;
        .message-du-jour{width:100%}
        .champs{width:100%}
        .joindre{width: 100%;}
        .champs1{
        width: 100%;
    }
    img{
        width: 40%;
    }
    }
    label{
        width: 100%;
         
    }
    .btn-submit{
        width: 50%;
    }
   
}

/* MEDIA QUERRIES 
tablettes*/
@media screen and (min-width: 701px) and (max-width: 900px){
    .btn-submit{
        width: 50%;
    }
.global-post-modify{
    .champs{
        width: 80%;
    }
    .champs1{
        width: 60%;
    }
}}