@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Lato&display=swap');

$primary: #FD2D01;
$secondary:#FFD7D7;
$tertiary: #4E5166;
$font-1: 'Lato', sans-serif;


*{
    box-sizing: border-box;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: $font-1;
   
}

body{
    font-size: 16px;
background-image:
linear-gradient(to top, rgba(170, 163, 163, 0.5),  rgba(177, 155, 155, 0.5)),
url("../assets/pink.jpg") ;
    
    textarea{
        border:2px solid $primary;
    }
    
}

#root{
    width:100%;
    max-width: 1400px;
}

.global{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}