@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Lato&display=swap');

$primary: #FD2D01;
$secondary:#FFD7D7;
$tertiary: #4E5166;
$font-1: 'Lato', sans-serif;
@mixin degrade_color {
    background:linear-gradient(171deg, $secondary,  $tertiary)
}

*{
    box-sizing: border-box;
    list-style: none;
    padding: 0px;
}

body, html{
    margin: 0px;
    font-family: $font-1;
    width:100%;
    font-size: 17px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include degrade_color;
}

textarea{
    border:2px solid $primary;
}

#root{
    width:100%;
    max-width: 1700px;
}

.global{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color:$tertiary
}

